{% extends 'base.html.twig' %}

{% block title %}Modifier un auteur{% endblock %}

{% block body %}
    <h1>Modifier l'auteur : {{ author.username }}</h1>

    {{ form_start(formulaire) }}
        {{ form_widget(formulaire) }}
    {{ form_end(formulaire) }}

    <a href="{{ path('ShowAll') }}">Retour à la liste</a>
{% endblock %}
